/* *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} */

.dark {
    background-color: black;
    padding: 30px 0px;
}

.light {
    background-color: white;
    padding: 30px 0px;
}

.container_signup{
    width: 70vw;
    height: 70vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap :5rem;
    margin-top: 5rem;
    margin-left: 13rem;
    margin-bottom: 5rem;
    /* padding: 0 2rem; */
    border-radius: 20px;
    box-shadow: 1px 1px 28px 1px rgba(179,179,179,0.36);
    -webkit-box-shadow: 1px 1px 28px 1px rgba(179,179,179,0.36);
    -moz-box-shadow: 1px 1px 28px 1px rgba(179,179,179,0.36);
    background-color: rgb(0, 0, 0) !important;
    color:white;
	/* border: 1px solid purple; */
}
.container_signup_light{

	width: 70vw;
    height: 70vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap :5rem;
    margin-top: 5rem;
    margin-left: 13rem;
    margin-bottom: 5rem;
    /* padding: 0 2rem; */
    border-radius: 20px;
    box-shadow: 1px 1px 28px 1px rgba(179,179,179,0.36);
    -webkit-box-shadow: 1px 1px 28px 1px rgba(179,179,179,0.36);
    -moz-box-shadow: 1px 1px 28px 1px rgba(179,179,179,0.36);
    background-color: rgb(255, 255, 255) !important;
}

.illustration_img img{
	width: 30vw;
  height: 60vh;
  margin-right: 20px;
  /* border: 2px solid blue; */
  /* border: 2px solid rgb(150, 151, 86); */
}
.div ::placeholder {
  font-size: 14px;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 60vh; 
  width: 35vw; */
  /* margin: 5vw; */
  /* border: 2px solid green; */
}

.login_form {
  width: 25vw;
  /* height: 100vh; */
  /* border: 2px solid red; */
}

.login-content h2 {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 2.9rem;
  /* border: 2px solid yellow; */
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 8px 0;
  padding: 8px 0;
  border-bottom: 2px solid #d9d9d9;
  /* border: 2px solid purple; */
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;

  display: flex;
  margin-bottom: -10px;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
  margin-bottom: -40px;
}

.input-div > div {
  position: relative;
  height: 45px;
}
.input1 {
  background-color: black;
  border: transparent;

}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: #38d39f;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

.anc {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  transition: 0.3s;
}
#alternativeLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  margin-top: 1.5rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#facebookIcon {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5rem;
  height: 3rem;
}

#twitterIcon {
  background-image: url("");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}
.anc:hover {
  color: #fcc616;
}

.logoinbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.btn_login {
  display: block;
  width: 100%;
  height: 45px;

  border-radius: 25px;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.877);
  background-size: 200%;
  font-size: 1rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 2rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn_login:hover {
  background-position: right;
  color: purple;
}

.container_signup .btn_login {
  background: -webkit-linear-gradient(
    45deg,
    rgb(133, 29, 186) 15%,
    rgba(255, 0, 224, 1) 100%
  );
}
.container_signup .btn_login:hover {
  background-position: right;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 1100px) {
  .container_signup {
    grid-gap: 5rem;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 5rem;
    padding: 0 2rem;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}
@media screen and (max-width: 1200px) {
  .container_signup {
    grid-gap: 5rem;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 5rem;
    padding: 0 2rem;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}

@media screen and (max-width: 1000px) {
  .login_form {
    width: 290px;
  }
  .container_signup {
    grid-template-columns: 1fr;
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 5rem;
    padding: 0 2rem;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .illustration_img img {
    display: none;
  }

  .login-content {
    justify-content: center;
  }

  .login-content h2 {
    margin: 8px 0;
  }

  .illustration_img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container_signup,
  .container_signup_light {
    grid-template-columns: 1fr;
    width: 100%;
    height: 80vh;
    display: flex;
    margin-left: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 5rem;
    padding: 0 2rem;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .btn_login,
  .anc {
    font-size: medium;
  }

  .illustration_img img {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}
