/*NEW*/

.msgs {
  background: linear-gradient(
    to bottom,
    rgb(118, 120, 223) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-color: lightblue;
  border-radius: 10px;
  max-width: 60%;
  width: fit-content;
  height: fit-content;
  min-width: 200px;
  margin-top: 10px;
  text-align: left;
  padding: 15px;
  font-family: "Hind Madurai", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  word-wrap: break-word;
}


.sender {
  font-family: "Fjord One", serif;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 0;
  margin-top: 25px;
  margin-left: 10px;
  color: black;
  text-transform: capitalize;
}

.senderDark {
  color: white;
}

.message_div {
  margin-top: 25px;
}

.user {
  margin-left: auto;
  margin-right: 10px;
  background: #A1FFCE;  
  background: -webkit-linear-gradient(to bottom, #FAFFD1, #A1FFCE); 
  background: linear-gradient(to bottom, #FAFFD1, #A1FFCE); 
  transition: all 0.4s ease-in-out;
}

.user:hover {
  box-shadow: 2px -5px 6px 0 #ff6196, 2px 2px 11px 0 #A1FFCE;
}

.guest {
  margin-left: 10px;
  background: #83a4d4;  
  background: -webkit-linear-gradient(to bottom, #b6fbff, #83a4d4);
  background: linear-gradient(to bottom, #b6fbff, #83a4d4); 
  transition: all 0.2s ease-in-out;
}

.guest:hover {
  box-shadow: 2px -5px 6px 0 hsl(212deg 100% 67%), 2px 2px 11px 0 #8735d0;
}

.time-stamp {
  font-style: italic;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.01rem;
  text-align: right;
  margin: 0;
  color: rgb(43, 37, 37);
}
.read-or-hide {
  color: rgb(100, 100, 100);
  cursor: pointer;
}
.read-or-hide:hover {
  color: rgb(50, 50, 150);
}

@media (max-width: 500px) {
  .msgs,
  .sender,
  .senderDark,
  .time-stamp {
    font-size: medium;
  }
}
