@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.msgs {
  background: linear-gradient(
    to bottom,
    rgb(118, 120, 223) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-color: lightblue;
  border-radius: 10px;
  max-width: 60%;
  width: fit-content;
  height: fit-content;
  min-width: 200px;
  margin-top: 10px;
  text-align: left;
  padding: 15px;
  font-family: "Hind Madurai", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  word-wrap: break-word;
  background-color: #0b81ff !important;
}

.msgs:hover {
  box-shadow: 0px 0px 20px rgb(245, 125, 143);
} 

.sender {
  font-family: "Fjord One", serif;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 0;
  margin-top: 25px;
  margin-left: 10px;
  color: black;
  text-transform: capitalize;
}

.senderDark {
  color: white;
}

.message_div {
  margin-top: 25px;
}

.user {
  background-color: rgb(233, 236, 22);
  margin-left: auto;
  margin-right: 10px;
}

.user:hover {
  box-shadow: 2px 2px 20px rgb(11, 69, 88);
}

.guest {
  margin-left: 10px;
}

.time-stamp {
  font-style: italic;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.01rem;
  text-align: right;
  margin: 0;
  color: rgb(126, 126, 126);
}
.read-or-hide {
  color: rgb(100, 100, 100);
  cursor: pointer;
}
.read-or-hide:hover {
  color: rgb(50, 50, 150);
} 
