.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10vh;
    background: rgb(0, 0, 0);
}
.container_light{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10vh;
}
.text_side1 {
    display: flex;
    flex-direction: column;
    margin-left:10vw;
}
.image_side {
    margin-left: 5vw;
}
.image_side img {
    height: 70vh;
    border-radius: 15px;
    box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -webkit-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -moz-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
}

.main_text1 {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    background-image:linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}
.small_text1{
    margin-top: -50px;
    font-size: 20px;
    font-weight: bold;
    color: #494949;
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}
.enter_chat {
  background: #0A7CFF;
  border-radius: 15px;
  border: none;
  color:#ffffff;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.5em 0.8em;
 
  margin-top: 4em;
}

.enter_chat:hover {
   color: #ffffff;
   background: #0A7CFF;
   border: 2px solid #0A7CFF;
}
@media screen and (max-width: 960px)
{
    .container {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content:left;
        padding: 10vh;
    }
    .image_side {
        margin-top: 15vh ;
        margin-left: 1.5vw;
    }
    .image_side img {
        height: 50vh;
        border-radius: 15px;
       
    }

}