html {
  font-size: 16px !important;
}
.landing_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10vh 0;
    background: rgb(0, 0, 0);
}
.landing_container_light{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10vh 0vh;
}
@keyframes float {
    0% {
      filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.6));
      transform: translatey(0px);
    }
    50% {
      filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.2));
      transform: translatey(-20px);
    }
    100% {
      filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.6));
      transform: translatey(0px);
    }
  }
.text_side1 {
    display: flex;
    flex-direction: column;
    margin-left:10vw;
}
.image_sideyy {
    margin-left: 5vw;
}
.image_sideyy img {
    height: 70vh;
    border-radius: 15px;
    box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -webkit-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -moz-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    overflow: hidden;
  transform: translatey(0px);
  -webkit-filter: drop-shadow(5px 5px 15px rgb(29, 28, 28));
  filter: drop-shadow(5px 5px 15px rgb(34, 33, 33));
	animation: float 3.38s ease-in-out infinite;
}

@media screen and (max-width: 600px) {
  .image_sideyy {
    display: none;
  }
}

.main_text1 {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    background-image:linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}
.small_text1{
    margin-top: -50px;
    font-size: 20px;
    font-weight: bold;
    color: #494949;
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}
.small_text2{
  margin-top: -2rem;
  font-size: 1.9rem;
  font-weight: lighter;
  color: #494949;
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}
.small_text2_dark{
  margin-top: -2rem;
  font-size: 1.9rem;
  font-weight: lighter;
  color: beige;
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}
.enter_chat {
  background: linear-gradient( to right, #0A7CFF, hsl(212, 100%, 67%) );
  border-radius: 5px;
  border: 3px solid #0A7CFF;
  color:#ffffff;
  font-size: 1.75rem;
  cursor: pointer;
  padding: 0.25em 0.75em;
  margin-top: 4em;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px -1px 5px -3px rgb(106, 101, 145);
  -webkit-box-shadow: 0px -1px 36px -3px rgb(106, 101, 145);
  -moz-box-shadow: 0px -1px 36px -3px rgb(106, 101, 145);
}

.enter_chat:hover {
  color: rgb(255, 255, 255);
  border: 2px solid #FFF;
  box-shadow: 0 4px 8px 0 #0A7CFF, 0px -1px 5px -3px hsl(212, 100%, 67%), 0 6px 10px 0 #8735d0;
}
@media screen and (max-width: 960px)
{
    .container {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content:left;
        padding: 10vh;
    }
    .image_sideyy {
        margin-top: 15vh ;
        margin-left: 1.5vw;
    }
    .image_sideyy img {
        height: 50vh;
        border-radius: 15px;
    }

}