
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    /* border: 2px solid blue; */
    padding: 10vh;
    background: rgb(0, 0, 0);
}
.container_light {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10vh; 
    background: rgb(255, 255, 255);
}

.text_side {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    margin-left: 5vw;
}
.min-text {
    font-size: 13px;
    color: rgb(124, 124, 124);
    font-weight: lighter;
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;;
    margin-bottom: -45px;
    text-transform: uppercase;
}

.image_side {
    /* border: 2px solid green; */
    margin-left: 22vw;
    /* box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -webkit-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -moz-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63); */
    /* background: transparent; */
}
.image_side img {
    height: 70vh;
    width: 18vw;
    border-radius: 15px;
    /* border: 2px solid rgb(0, 0, 0); */
    box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -webkit-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -moz-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
}
.image_side3 img {
    height: 55vh;
    width: 30vw;
    border-radius: 15px;
    /* border: 2px solid rgb(0, 0, 0); */
    box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -webkit-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -moz-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
}

.main_text {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    background-image:linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* line-height: 5.2rem; */
    font-size: 33px;
    /* margin-top: 65px;
    margin-left: 70px; */
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}
.main_text2 {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    /* color: rgb(26, 26, 26); */
    /* line-height: 5.2rem; */
    font-size: 31px;
    /* margin-top: 65px;
    margin-left: 70px; */
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}
.main_text2_dark {
    color: rgb(255, 255, 255);
}
.main_text2_light {
    color: rgb(26, 26, 26);
}
.small_text{
    /* margin-left: 70px; */
    margin-top: -50px;
    font-size: 21px;
    font-weight: bold;
    color: #494949;
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}
.text_side2 {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    margin-left: 22vw;
}
.small_text2{
    /* margin-left: 70px; */
    margin-top: -20px;
    font-size: 19px;
    font-weight: lighter;
    color: #696969;
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}
.image_side2 {
    /* border: 2px solid green; */
    margin-left: 9vw;
    /* box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -webkit-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -moz-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63); */
    /* background: transparent; */
}
.image_side3 {
    /* border: 2px solid green; */
    margin-left: 17vw;
    /* box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -webkit-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -moz-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63); */
    /* background: transparent; */
}
.image_side2 img {
    height: 70vh;
    width: 19vw;
    border-radius: 15px;
    /* border: 2px solid rgb(0, 0, 0); */
    box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -webkit-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -moz-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
}

.image_side7 {
    margin-left: 10vw;
}
.image_side7_2 {
    margin-left: 5vw;
}

.image_side7 img {
    height: 70vh;
    border-radius: 15px;
    width: 18vw;
    /* border: 2px solid rgb(0, 0, 0); */
    box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -webkit-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -moz-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
}
.image_side7_2 img {
    height: 70vh;
    border-radius: 15px;
    width: 18vw;
    /* border: 2px solid rgb(0, 0, 0); */
    box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -webkit-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
    -moz-box-shadow: 0px -1px 36px -3px rgba(105,105,105,0.63);
}

@media screen and (max-width: 960px)
{
    .container {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content:left;
        /* border: 2px solid blue; */
        padding: 10vh;
    }
    .image_side {
        /* border: 2px solid green; */
        /* margin-left: 15vw; */
        margin-top: 15vh ;
        margin-left: 1.5vw;
    }
    .image_side img {
        height: 50vh;
        border-radius: 15px;
        /* border: 2px solid rgb(0, 0, 0); */
    }

}