/*about*/

#brand {
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
  background-image: linear-gradient(to left, #9231c2 0%, #f52e59 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 3rem;
  width: 100%;
}

.main {
  padding: 20px 4rem;
  background-color: rgb(0, 0, 0);
}

.main_light {
    padding: 20px 4rem;
    background-color: white;
  }

.main__content {
  color: #fff;
  width: 100%;
}
@keyframes float {
    0% {
      filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.6));
      transform: translatey(0px);
    }
    50% {
      filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.2));
      transform: translatey(-20px);
    }
    100% {
      filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.6));
      transform: translatey(0px);
    }
  }

.responsive {
  width: 100%;
  margin-top: 50px;
  max-width: 400px;
  height: 350px;
  overflow: hidden;
  transform: translatey(0px);
  -webkit-filter: drop-shadow(5px 5px 15px rgb(29, 28, 28));
  filter: drop-shadow(5px 5px 15px rgb(34, 33, 33));
	animation: float 3.38s ease-in-out infinite;
}

.main__content h2 {
  margin-top: 7rem;
  font-size: 2.9rem;
  background: #ff8177; 
  background: -webkit-linear-gradient(
    to right,
    #8735d0,
    #ce40eb
  ); 
  background: linear-gradient(
    to right,
    #9240da,
    #d643f3
  ); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content span {
  background: #0cebeb;
  background: -webkit-linear-gradient(
    to right,
    #29ffc6,
    #20e3b2,
    #0cebeb
  ); 
  background: linear-gradient(
    to right,
    #e6285b,
    #ee2b5f,
    #eb2a5d
  ); 

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.main__img--container {
  margin-top: 5rem;
  margin-left: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.motive {
  margin-top: -8em;
  font-size: 20px;
}
@media (max-width: 480px) {
  #brand {
    margin-top: 40px;
    margin-bottom: -20px;
    font-size: 5rem;
  }
  .main {
    background-color: #131313;
    padding: 20px 15px;
  }

  .main__img--container {
    margin-left: 0rem;
  }

  .main__content h2 {
    margin-top: 40px;
    padding: 10px !important;
    font-size: 4rem;
  }

  .motive-top {
    margin-top: -60px !important;
  }
  .motive {
    margin-top: -78px !important;
  }
}

@media (max-width: 480px) {
  .motive-top {
    margin-top: -60px !important;
  }
  .motive {
    margin-top: -90px !important;

    font: 100;
  }
  .motive h2 {
    font-size: 25px;
  }
}

/* footer */

.footer__container {
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.website__rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}
