.footer__container {
  background-color: #151414;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -4px 8px 0 rgb(253 251 251 / 20%),
    0px -6px 10px 0 rgb(0 0 0 / 84%);
}
.footerContainer_light {
  background-color: #ffffff;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -4px 8px 0 rgb(253 251 251 / 20%),
    0px -6px 10px 0 rgb(173 173 173 / 84%);
}
#footer__logo {
  color: #9e37d1;
  /* display: flex;
  align-items: center; */
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0 auto;
}
#footer__logo:hover {
  color: #ff1b4c;
  transform: scale(1.6);
}
#footer__logo--link {
  color: #9e37d1;
  font-size: 26px;
}
#footer__logo--link:hover {
  color: #ff1b4c;
  transform: scale(1.6);
  margin-right: 0.3em;
}
.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer-open-source {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  box-sizing: border-box;
}

.footer-open-source h2 {
  margin-bottom: 10px;
  font-size: 26px;
  text-align: center;
  color: #9e37d1;
}

.footer-open-source p {
  margin-bottom: 5px;
  color: #9e37d1;
}

.social__icon--link {
  color: #9e37d1;
  font-size: 24px;
}

.social__icon--link:hover {
  color: #ff1b4c;
  transform: scale(1.6);
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
  display: flex;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website__rights {
  color: #fff;
  text-align: center;
}
.website__rights_light {
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
    margin-left: 0em;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
  .website__rights {
    font-size: medium;
    margin-bottom: 2rem;
    margin-left: 0em;
  }
  #footer__logo {
    margin-left: 0px;
    font-size: medium;
  }
  .social__icon--link {
    font-size: 30px;
  }
}
