.App {
  text-align: center;
}

body{
  background-attachment: fixed;
}

::placeholder{
  font-weight: bold;
  color:white;
  opacity:1;
}

.NavBar{
  background-color:#014293;
  width:100%;
  border-bottom:2px solid black;
  height:100px;
  position:fixed;
  display: flex;
  justify-content: space-between;
  top:0px;
}

.NavBar div.flex1 {
  display: flex;
  width: 50vw;
  margin: 1%;
}

.NavBar div.flex2 {
  align-self: center;
  margin: 1%;
}

input{
  background-color: black;
  line-height: 30px;
  width:250px;
}

.messenger{
  font-weight: bold;
  font-size: 40px;
  margin: .25em;
}

footer{
  position: fixed;
  bottom:0;
  height: auto;
  width:100%;
  background-color: #014293;
  border-top:2px solid black;
}

.input{
margin-top:10px;
flex:1;
}
.emoji-icon {
  border: none;
  width: 50px;
  height: auto;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blackName{
  color:white !important;
}

.BlackNavBar{
  background-color:black!important;
}

.dark_input{
  color:white;
}

.footer_dark{
  background-color: black;
}


.iconButton{
  top:10px;
  left:10px;
}
