.App {
  text-align: center;
}
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
body {
  background-attachment: fixed;
}

.messenger {
  background: -webkit-linear-gradient(
    45deg,
    rgba(255, 166, 10, 1) 24%,
    rgba(255, 0, 224, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blackName {
  color: black;
}

::placeholder {
  font-weight: bold;
  opacity: 1;
  color: black;
}

.NavBar {
  background-color: rgb(0, 50, 77);
  width: 100%;
  border-bottom: 2px solid black;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0px;
}
/* rgb(0, 50, 77) */
.NavBar div.flex1 {
  display: flex;
  width: 50vw;
  margin: 1%;
}

.NavBar div.flex2 {
  align-self: center;
  margin: 1%;
}

input {
  line-height: 25px;
  min-width: 500px;
  width: 50vw;
  border-radius: 30px;
  outline-width: 0;
  padding: 10px;
  border: 1px solid white;
}

.dark_input {
  background-color: rgb(140, 140, 140);
}

.messenger {
  font-weight: bold;
  font-size: 40px;
  margin: 0.25em;
}

footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 5px;
  height: 11.5%;
  width: 100%;

  /* background-color: #014293; */
  /* background-color: rgb(0, 50, 77); */
  /* border-top: 2px solid black; */
}
.input {
  margin-top: 7px;
  margin-bottom: 10px;
  flex: 1;
}

.BlackNavBar {
  background-color: black !important;
}

.footer_dark {
  color: black;
}

.iconButton {
  top: 15px;
  left: 10px;
}
.content__footer {
  margin: 0 auto;
  padding-top: 30px;
}
.sendNewMessage {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}
.sendNewMessage button {
  width: 36px;
  height: 36px;
  background-color: #ecefff;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: rgb(0, 50, 77);
  padding: 0;
  border-radius: 5px;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}
.sendNewMessage > .darkButton {
  color: black !important;
}
.sendNewMessage > .darkButtonSend {
  background-color: black !important;
}
.sendNewMessage button:hover {
  transform: scale(1.2);
}
.sendNewMessage button i {
  display: block;
}
.sendNewMessage input {
  flex-grow: 1;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  outline: none;
}
#sendMsgBtn {
  background-color: rgb(0, 50, 77);
  color: #fff;
}

