.App {
  text-align: center;
}

body {
  background-attachment: fixed;
}

.messenger {
  background: -webkit-linear-gradient(
    45deg,
    rgba(255, 166, 10, 1) 24%,
    rgba(255, 0, 224, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blackName {
  color: black;
}

::placeholder {
  font-weight: bold;
  opacity: 1;
  color: black;
}

.NavBar {
  background-color: rgb(0, 50, 77);
  width: 100%;
  border-bottom: 2px solid black;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0px;
}

.NavBar div.flex1 {
  display: flex;
  width: 50vw;
  margin: 1%;
}

.NavBar div.flex2 {
  align-self: center;
  margin: 1%;
}

input {
  line-height: 25px;
  min-width: 500px;
  width: 50vw;
  border-radius: 30px;
  outline-width: 0;
  padding: 10px;
  border: 1px solid white;
}

.dark_input {
  background-color: rgb(140, 140, 140);
}

.messenger {
  font-weight: bold;
  font-size: 40px;
  margin: 0.25em;
}

footer {
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100%;
  /* background-color: #014293; */
  background-color: rgb(0, 50, 77);
  border-top: 2px solid black;
}

.input {
  margin-top: 10px;
  flex: 1;
}

.BlackNavBar {
  background-color: black !important;
  border-bottom: 1px solid white;
}

.footer_dark {
  background-color: black;
  border-top: 1px solid white;
}

.iconButton {
  top: 15px;
  left: 10px;
}
