.msgs{
  background-color:lightblue;
  border-radius:10px;
  max-width:60%;
  width: fit-content;
  height:fit-content;
  min-width: 200px;
  margin-top:10px;
  text-align: left;
  padding: 15px;
  font-family: 'Hind Madurai', sans-serif;
  font-weight:bold;
  font-size: 1.1rem;
}

.sender{
  font-family: 'Fjord One', serif;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom:0;
  margin-top:25px;
  margin-left: 10px;
  text-transform: capitalize;
}

.senderDark{
  color:white !important;
}

.message_div{
  margin-top:25px;
}

.read-or-hide {
  color: rgb(87, 85, 85);
  cursor: pointer;
}

.user{
  background-color: lightpink;
  margin-left:auto;
  margin-right: 10px;
}

.guest{
  margin-left: 10px;
}

.time-stamp{
  text-align: right;
  margin: 0;
  color: rgb(126, 126, 126)
}
