.container_reset{
    width: 70vw;
    height: 70vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap :5rem;
    margin-top: 5rem;
    margin-left: 10rem;
    margin-bottom: 5rem;
    padding: 0 2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 28px 1px rgba(179,179,179,0.36);
    -webkit-box-shadow: 1px 1px 28px 1px rgba(179,179,179,0.36);
    -moz-box-shadow: 1px 1px 28px 1px rgba(179,179,179,0.36);
    background-color: rgb(0, 0, 0);
    color:white;
}

.container_reset_light{

	width: 70vw;
    height: 70vh;
    display:flex;
    grid-gap :5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-left: 10rem;
    margin-bottom: 5rem;
    padding: 0 2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 28px 1px rgba(179,179,179,0.36);
    -webkit-box-shadow: 1px 1px 28px 1px rgba(179,179,179,0.36);
    -moz-box-shadow: 1px 1px 28px 1px rgba(179,179,179,0.36);
    background-color: rgb(255, 255, 255);
    
}

.div ::placeholder{
  font-size: 14px;
}

.reset-content{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.reset_illustration{
    margin-right: 5rem;
}

.reset-content .input-div{
	position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 8px 0;
  padding: 8px 0;
  border-bottom: 2px solid #d9d9d9;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.lock-icon {
    color: #999;
  }
.submitbutton
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.btn_reset{
	display: block;
	width: 100%;
	height: 45px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-color: rgba(0, 0, 0, 0.877);
	background-size: 200%;
	font-size: 1rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 2rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn_reset:hover{
	background-position: right;
  color:purple;
}

  @media screen and (max-width: 998px) {
    form {
      width: 250px;
      margin-right: 7rem;
      display:grid;
      justify-content: center;
      grid-auto-columns: max-content;
    }
    .container_reset_light {
        width: 70vw;
        height: 70vh;
    }
  
    .reset_illustration img {
      display: none;
    }
    .btn_reset{
      font-size: 1.5rem;
    }
    .reset-content {
      justify-content: center;
    }
    .lock-icon{
      font-size: 1.8rem;
    }
    .input-div > div > input{
        padding: 1.5rem 0.7rem;
    }
    
  }
